<main class="main-transition fs-5">
    <a hx-get="/pages/blog.html"
       hx-push-url="/blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">Tutorial 1 Flusp</p>
    <p class="fs-5 fw-semibold text-muted">11 Março, 2026</p>
    <hr class="opacity-50">
    
    <p class="fs-3 fw-semibold">Tutorial 1</p>
    <p>
        O primeiro tutorial foi bem simples, não tenho muito o que comentar.
        As instruções estavam suficientemente claras, sendo que as partes mais 'complicadas' foram trocar os nomes
        de alguns arquivos e de partições de memória.
    </p>
    <p>
        Apesar de demorar mais de uma aula nesse tutorial, consegui fazer tudo sem encontrar erros.
        Cabe notar que me senti pressionado pela quantidade de comandos e ferramentas cobertas, mas
        julgo que isso é algo para me acostumar, dada a complexidade do desenvolvimento para o kernel.
    </p>

    <a hx-get="/pages/blog.html"
       hx-push-url="/blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>