<main class="main-transition">
    <p class="fs-1"> Blog</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100"
              hx-get="pages/blogs/mac0102.html"
              hx-target="closest main"
              hx-swap="outerHTML transition:true show:top">
          <img src="static/ime.jpg" class="card-img-top" alt="tralalero tralala">
          <div class="card-body">
            <h3>Caminhos no BCC</h3>
            <p class="card-text fs-6">Meus pensamentos sobre as trilhas do curso.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">7 de Abril, 2025</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100"
              hx-get="pages/blogs/fleabag.html"
              hx-target="closest main"
              hx-swap="outerHTML transition:true show:top">
          <img src="static/padre.jpg" class="card-img-top" alt="homem e ">
          <div class="card-body">
            <h3 class="card-title">Fleabag: O Sabor Agridoce</h3>
            <p class="card-text fs-6">Uma entrada que eu estava devendo.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">5 de Abril, 2025</small>
          </div>
        </div>
      </div>
    </div>
</main>