<div>
    <nav class="navbar navbar-expand-md w-100">
        <div class="container-fluid" id="navbar-content">
        <a class="navbar-brand fs-5"
            hx-get="/pages/home.html"
            hx-target="next main"
            hx-swap="outerHTML">
            Kaiky C.
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav-dropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end mt-3 mt-md-0" id="navbar-nav-dropdown">
            <ul class="navbar-nav nav-underline">
            <li class="nav-item">
                <a class="nav-link fs-5"
                    hx-get="/pages/home.html"
                    hx-target="next main"
                    hx-swap="outerHTML">
                    Início
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5"
                    hx-get="/pages/projetos.html"
                    hx-target="next main"
                    hx-swap="outerHTML">
                    Projetos
                </a>
            </li>
            <li class="nav-item fs-5">
                <a class="nav-link"
                    hx-get="/pages/blog.html"
                    hx-target="next main"
                    hx-swap="outerHTML">
                    Blog
                </a>
            </li>
            <li class="nav-item fs-5">
                <a class="nav-link"
                   hx-get="/pages/reviews.html"
                   hx-target="next main"
                   hx-push-url="reviews"
                   hx-swap="outerHTML transition:true">
                   Reviews
                </a>
            </li>
            <li class="nav-item fs-5">
                <a class="nav-link"
                   hx-get="/pages/blogs/secret.html"
                   hx-target="main"
                   hx-push-url="secret"
                   hx-swap="outerHTML transition:true">
                   Segredo
                </a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <main>
        <div hx-get="/pages/home.html"
                hx-target="closest main"
                hx-swap="outerHTML"
                hx-trigger="load">
        </div>
    </main>
</div>