<main class="main-transition fs-5">
    <a hx-get="/pages/blog.html"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">Fleabag: O Sabor Agridoce</p>
    <p class="fs-5 fw-semibold text-muted">5 de abril, 2025</p>
    <hr class="opacity-50">
    
    <p class="fs-3 fw-semibold">A primeira temporada</p>
    <p>
        Quando eu comecei a assistir Fleabag, pensei que seria algo na linha da Philomena Cunk com um pouco da acidez do Ricky Gervais.
        Eu esperava uma boa exposição do humor inglês com a confirmação de que naquela ilha eles têm 10 atores (sim, atriz da Boo, eu lembro que até você apareceu por dois minutos em About Time).
        E por um momento eu pensei que tinha acertado!
    </p>
    <p>
        Acontece que essa é uma série que te engana. No começo, nós conhecemos a nossa protagonista sem nome e algumas
        de suas conexões, e vemos graça na forma trágica como ela navega a vida. Tudo é apresentado com humor, ainda que
        a série mostre uma profundidade imensa na construção da protagonista e dos temas que tocam a sua vida, desde relacionamentos amorosos e familiares
        até o luto.
    </p>
    <p>
        E conforme os assuntos sérios se situam em segundo plano, para nós espectadores resta rir dos momentos constrangedores
        e às vezes sem sentido pelos quais a Fleabag passa. No entanto, as coisas vão ficando cada vez mais intensas.
        O namorado que ela manipula a deixa, o seu cunhado a assedia e ela se sente cada vez mais culpada pela morte de sua amiga, Boo.
    </p>
    <p>
        E então a temporada termina em um ponto baixo. Sua irmã não acredita no relato de assédio, seu ficante a rejeita
        e é revelado que ela teve um papel ativo em motivar sua melhor amiga a se envolver no acidente que a matou.
        A luz no fim do túnel se manifesta no homem do banco, que apareceu no primeiro episódio e retorna nesse
        oferecendo um empréstimo que pode ajudar a Fleabag a reerguer sua cafeteria.
    </p>

    <p class="fs-3 fw-semibold"> Intervalo </p>
    <p>
        Em respeito aos que acompanharam a série no lançamento das temporadas, recomendo ao leitor que
        espere três anos antes de continuar sua leitura. Sim, esse foi o tempo que demoraram para produzir
        mais seis episódios de 25 minutos cada. Não, a série não tem efeitos especiais, tirando uma cena.
        Eu gosto de pensar que eles filmaram tudo em uma semana e passaram o resto do tempo animando uma raposa.
    </p>
    <p>
        Aproveitando essa pausa, podemos refletir sobre alguns dos temas da primeira temporada. O meu favorito
        é a imperfeição. Desde o primeiro episódio, fica claro que nós estamos acompanhando a história de uma pessoa
        ruim, e que se considera ruim.
    </p>
    <p>
        Muitas coisas que ela faz ao longo da temporada são quase universalmente vistas como negativas. Por exemplo, roubar
        um objeto da sua madrasta, manipular seu namorado, roubar dinheiro em um encontro, e mais. Entretanto, cada erro que
        nós vemos na tela surte um efeito curioso de nos aproximar da personagem.
    </p>
    <p>
        É por ser uma "pessoa ruim" que nós torcemos para que a personagem se perdoe. Ao longo da temporada
        eu me apeguei cada vez mais ao sentimento de que eu queria vê-la feliz. Afinal, se ela pode sair dessa bagunça,
        se perdoar e ser feliz, então eu também deveria.
    </p>

    <figure class="border border-2 p-3 rounded text-center">
        <blockquote class="blockquote">
          <p>“That’s the very reason why they put rubbers on the end of pencils… because people make mistakes.”</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0">
          Boo
        </figcaption>
    </figure>

    <p class="fs-3 fw-semibold">A Segunda Temporada</p>
    <p>
        Na segunda temporada temos algumas linhas narrativas novas, o casamento da madrasta e do pai da Fleabag,
        o relacionamento dela com o padre, e a relação dela com a irmã (+ o caso de romance com o klare).
        É uma pena que só uma destas linhas importe porque o padre absolutamente domina essa temporada.
    </p>
    <p>
        O padre entra na série como uma bússola moral imperfeita. Apesar de não se portar como um padre típico,
        sua convicção religiosa é honesta e ele dedica sua vida ao seu trabalho. A rigidez dos valores sob os
        quais ele vive contrasta com aqueles da Fleabag e nos mostra uma forma de redenção pessoal.
        O padre representava o futuro que eu queria para a protagonista, alguém que ficou em paz com o seu passado
        e vivia uma nova vida evitando seus antigos erros.
    </p>
    <p>
        O tema principal desses seis episódios é a redenção da Fleabag através do amor, e a corrupção do padre
        através do mesmo. Os dois personagens naturalmente se atraem, mas de forma destrutiva. Para a Fleabag, o
        padre representa uma forma de dar sentido à sua vida, e para o padre, ela é uma forma de voltar ao passado
        destruindo aquilo que ele se esforçou para construir.
    </p>
    <p>
        Ao longo da temporada, vemos a relação dos dois evoluir até o ponto em que se torna sexual, altura em que o
        padre (sendo um padre) havia passado dos seus limites. Eu me senti culpado neste momento porque, ainda sabendo que os dois não podem ficar juntos,
        eu torci por isso pensando que eles enxergam algo único um no outro. Isso é comunicado no
        sentido mais amplo da trama, como discutido no último parágrafo, mas também no fato de que o padre é o 
        único que consegue ver a Fleabag quebrando a quarta parede.
    </p>
    <p>
        Esquecendo o padre por um momento, a segunda temporada também avança muito a relação da Claire e da sua irmã.
        Mesmo sendo uma personagem difícil de entender, é impossível desgostar da Claire, e o último episódio trouxe um
        desfecho extremamente satisfatório para o seu arco. Vemos ela se voltar contra o seu marido e apreciar
        seus sentimentos mais honestos, em vez daqueles que a prendiam.
    </p>
    <p>
        No fim do seu arco temos finalmente uma declaração do amor que ela sente pela irmã:
    </p>
    
    <figure class="border border-2 p-3 rounded text-center">
        <blockquote class="blockquote">
          <p>“The only person I’d run through an airport for is you.”</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0">
            Claire
        </figcaption>
    </figure>
    
    <p class="fs-3 fw-semibold"> O Final </p>
    <p>
        No último episódio temos também a resolução do romance entre o padre e a Fleabag.
        Em seu encontro final, são trocadas declarações de amor, das que sabem que não serão realizadas.
        E essa distância entre o sentimento e a realidade dá o tom melancólico final da série,
        fechando perfeitamente uma história de amor proibido e duas de crescimento pessoal.
    </p>
    <p>
        O que fica então é o sabor agridoce. A mistura do humor com a melancolia, da superação com a saudade.
        No fim, eu gostaria que a série fosse mais longa e menos relatable, o que faz dela uma obra-prima.
        Infelizmente é cinema, infelizmente me abalou. O lado bom é que vai passar.
    </p>

    <figure class="border border-2 p-3 rounded text-center">
        <blockquote class="blockquote">
          <p>"It'll pass"</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0">
          O Padre
        </figcaption>
    </figure>

    <a hx-get="/pages/blog.html"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>