<main class="main-transition fs-5">
    <a hx-get="/pages/blog.html"
       hx-push-url="/blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">MAC0215</p>
    <p class="fs-5 fw-semibold text-muted">20 de Agosto, 2025</p>
    <p class="fs-5 fw-semibold text-muted">Atualizado em 29 de Setembro, 2025</p>
    <hr class="opacity-50">
    
    <p class="fs-3 fw-semibold">Em construção</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi illo vero asperiores non molestias fuga iusto consectetur ratione magnam. Ab ullam molestiae facere ducimus fuga quibusdam quae, nisi eligendi!
    </p>


    <a hx-get="/pages/blog.html"
       hx-push-url="/blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>