<main class="main-transition fs-5">
    <a hx-get="pages/blog.html"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">Trilhas do BCC</p>
    <p class="fs-5 fw-semibold text-muted">7 de abril, 2025</p>
    <hr class="opacity-50">
    
    <p class="fs-3 fw-semibold">Teoria da Computação</p>
    <p>
        Quando li sobre as trilhas pela primeira vez, eu não tinha vontade de fazer essa.
        Infelizmente as palestras confirmaram a minha intuição, zero vontade de seguir esse caminho.
    </p>
    <p class="fs-3 fw-semibold">Ciência de Dados</p>
    <p>
        Me parece um pouco mais interessante, estou esperando para ver as palestras.
    </p>
    <p class="fs-3 fw-semibold">Inteligência Artificial</p>
    <p>
        Faria mesmo não achando interessante, não tem como fugir disso.
    </p>
    <p class="fs-3 fw-semibold">Sistemas de Software</p>
    <p>
        É a que eu realmente gosto, já queria fazer. A apresentação do professor Kon foi engraçada,
        especialmente a parte sobre como o setor privado aproveita os estágios para
        contratar mão de obra barata.
    </p>


    <a hx-get="pages/blog.html"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>