<main class="main-transition fs-5">
    <a hx-get="pages/blog.html"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">Trilhas do BCC</p>
    <p class="fs-5 fw-semibold text-muted">7 de abril, 2025</p>
    <hr class="opacity-50">
    
    <p class="fs-3 fw-semibold">Teoria da Computação</p>
    <p>
        Quando li sobre as trilhas pela primeira vez, eu não tinha vontade de fazer essa.
        Infelizmente as palestras confirmaram a minha intuição, zero vontade de seguir esse caminho.
    </p>
    <p class="fs-3 fw-semibold">Ciência de Dados</p>
    <p>
        Apesar de inicialmente me interessar, as palestras não me convenceram e eu não acho que gostaria das disciplinas :(
    </p>
    <p class="fs-3 fw-semibold">Inteligência Artificial</p>
    <p>
        Faria essa trilha mesmo não achando interessante, pela relevância atual do tema. É uma pena que 
        não tenhamos muitas disciplinas atualmente disponíveis na grade porque eu gostaria de me aventurar em alguma.
    </p>
    <p class="fs-3 fw-semibold">Sistemas de Software</p>
    <p>
        É a que eu realmente gosto, já queria fazer. As apresentações foram normais, não me instigaram muito.
        A do Kon desencorajando estágios foi engraçada e a da Kelly sobre bancos de dados foi bem genérica.
    </p>
    <p class="fs-3 fw-semibold">Conclusão</p>
    <p>
        Provavelmente não vou seguir nenhuma trilha e focar no codelab desenvolvendo sistemas à parte.
    </p>


    <a hx-get="pages/blog.html"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>