<main class="main-transition fs-5">
    <a hx-get="/pages/blog.html"
       hx-push-url="/blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">MAC0214</p>
    <p class="fs-5 fw-semibold text-muted mb-0">20 de Agosto, 2025</p>
    <p class="fs-5 fw-semibold text-muted">Atualizado em 29 de Setembro, 2025</p>

    <p class="fs-3 fw-semibold titulinha">Bike SP, da Pesquisa ao Impacto Nacional</p>
    <p>
        A história do Bike SP começou em 2016, quando a prefeitura de São Paulo instituiu a remuneração de ciclistas
        por viagens realizadas na capital através da 
        <a href="https://legislacao.prefeitura.sp.gov.br/leis/lei-16547-de-21-de-setembro-de-2016">lei 16.547</a>.
    </p>
    <p>
        Entretanto, a lei até hoje não foi colocada em prática como política pública. Nesse contexto, em 2023
        foi criado no IME o grupo de pesquisa do Bike SP, com objetivo de realizar um experimento em larga escala
        que medisse a viabilidade da lei no âmbito tecnológico e econômico. Desde então, o projeto recebeu diversos desenvolvedores,
        realizou dois períodos de teste e, por fim, concluiu um experimento com 1217 pessoas em agosto de 2025.
    </p>
    <p>
        Após a realização da pesquisa em São Paulo, pareceu restar ao grupo analisar os dados e criar um relatório
        para a prefeitura que guie a implementação do Bike SP como política pública permanente. Contudo, fomos notificados
        que uma empresa estava trabalhando em parceria com a prefeitura de Fortaleza para adaptar o sistema para a capital
        Cearense e queria que trabalhássemos em conjunto com eles. Essa notícia veio justo quando eu estava para sair do projeto
        tendo concluído um ano de participação.
    </p>
    <p>
        Como líder de desenvolvimento, eu resolvi continuar e guiar a equipe nessa nova fase. Essa entrada do blog serve
        para catalogar minhas atividades e a expansão do projeto nos meses seguintes a essa decisão.
    </p>
    <p class="fs-3 fw-semibold titulinha">Agosto</p>
    <p>
        Esse foi o mês de realização do experimento em São Paulo. Nele, eu conduzi manutenções pontuais no back-end
        e banco de dados. Ao mesmo tempo, trabalhei com outros dois desenvolvedores da equipe na implementação de melhorias
        no painel de administração do sistema e no nosso aplicativo Android. Houve também uma quantidade de tempo
        dedicada às entregas do SIICUSP, que eu deveria fazer por ter originalmente entrado no projeto como
        bolsista de iniciação científica.
    </p>
    <p class="fs-3 fw-semibold titulinha">Setembro</p>
    <p>
        Nesse mês, comecei a trabalhar com a <a href="https://www.linkedin.com/company/poloplanejamento/">Polo</a>,
        <a href="https://www.linkedin.com/company/scipopulis/">Scipopulis</a>,
        <a href="https://www.linkedin.com/company/wri-brasil/">WRI Brasil</a> e a Prefeitura de Fortaleza.
        Recebemos três novos desenvolvedores na equipe, dois do IME e uma de Fortaleza. Em relação ao
        software, eu trabalhei principalmente na adaptação do aplicativo Android para o primeiro teste em
        parceria com a <a href="https://toyotamobilityfoundation.org/">Toyota Mobility Foundation</a>
        em alguns bairros de Fortaleza. 
    </p>
    <p>
        Uma parte maior do meu tempo começou a ser tomada por atividades além do desenvolvimento. Eu participei
        de muitas reuniões com as diferentes organizações dos editais de financiamento, assim como
        um painel de discussão em um evento e um workshop internacional no IME.
    </p>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="/static/painelcsc.jpg" style="width: 100%; max-width: 650px; aspect-ratio: 3 / 2;" class="mb" alt="Três pessoas em um painel no evento connected smart cities. Ricardo Machado à esquerda, eu ao centro, Artur Kim à direita.">
        <p class="fs-6" style="width: 100%; max-width: 650px;">
            Foto do painel "Tecnologia Aplicada à Mobilidade por Bicicletas" realizado no evento Connected Smart Cities. Eu estou sentado no centro.
        </p>
    </div>
    
    <p class="mb-0">No Connected Smart Cities eu pude conhecer as pessoas abaixo:</p>
    <ul>
        <li>Artur Kim, Innovation Designer da Re:edu</li>
        <li>Ricardo Neres Machado, Diretor Geral da Ciclocidade</li>
        <li>Bruno Batista, Senior Active Mobility Analyst no WRI Brasil</li>
        <li>Leonardo Veiga, Gerente de Monitoramento e Avaliação do ITDP</li>
    </ul>
    <p>
        Um detalhe interessante é que eu já conhecia o Bruno por reuniões com o WRI, e pude falar mais com o Artur
        quando ele visitou o IME no workshop AtrAI bikes alguns dias depois desse evento.
    </p>
    


    <a hx-get="/pages/blog.html"
       hx-push-url="/blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>