<main class="main-transition fs-5">
    <a hx-get="pages/blog.html"
       hx-push-url="blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       hx-on:click="window.localStorage.setItem('secret', true);"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>
    <p class="fs-1 fw-semibold mb-0">Coldplay vs Queen</p>
    <p class="fs-5 fw-semibold text-muted">15 de julho, 2025</p>
    <hr class="opacity-50">
    
    <p class="fs-3 fw-semibold">Contexto</p>
    <p>
        Eu tenho um costume horrível de mentir. Não é que eu goste de mentir para enganar os outros,
        na verdade eu tenho aquele traço irritante de inventar coisas absurdas para depois dizer
        que elas são mentira. Acredito que eu me viciei nisso pelas boas risadas que esse costume
        me proporcionou ao longo da vida.
    </p>
    <p>
        Certa vez, eu estava em uma festa com alguns amigos, e quis levantar uma discussão com uma
        dessas mentiras absurdas. Para isso, eu pensei em um fato com o qual eu não necessariamente
        concordasse, mas com o qual muitas pessoas discordariam. Naquela noite, eu disse que Coldplay
        era melhor do que Queen.
    </p>
    <p>
        A discussão se aqueceu rapidamente, logo tinham quatro amigos meus falando sobre como meu
        ponto de vista era absurdo. Eu ria enquanto tentava manter meu personagem antes de dizer
        que era tudo uma brincadeira, mas entre um argumento e outro, eu percebi algo estranho,
        talvez essa ideia não fosse tão insana.
    </p>
    <p>
        Depois da festa, eu fui para casa, tomei meu banho e deitei para dormir. O sono, porém,
        não veio. Uma ideia nova tinha surgido na minha mente e seu crescimento era inquietante.
        Podia mesmo ser que todos estivessem errados, até mesmo eu, e Coldplay fosse melhor que Queen?
    </p>
    <p>
        Eu precisava achar a resposta.
    </p>
    <p class="fs-3 fw-semibold">A necessidade de uma análise melhorada</p>
    <p>
        Esta entrada do blog surge então da minha necessidade de pensar melhor sobre esse tema que
        vem me assombrando. Além disso, ela serve como uma base estruturada para se comparar
        dois gigantes da música que atuaram em tempos diferentes. A questão não é só
        dizer qual é melhor, mas estruturar uma forma de responder essa pergunta, e de
        responder "o quê significa ser melhor?".
    </p>
    <p>
        Afinal, poderíamos dizer que tudo se reduz a uma questão de gosto, fim da entrada.
        Só que encerrar o argumento dessa forma é preguiçoso e insatisfatório,
         por isso, vou considerar quatro pontos:
        <ol>
            <li>Hits</li>
            <li>Discografia</li>
            <li>Performances</li>
            <li>Legado</li>
        </ol>
        Mas antes disso, temos um ponto 0, uma introdução a forma de pensar proposta por
        essa entrada, junto com uma reflexão sobre a forma como moldamos nossas opiniões.
    </p>
    <p class="fs-3 fw-semibold">Parte 0: A tendência de apreciar o passado</p>
    <p>
        O primeiro ponto sobre o qual pensei foi o saudosismo. Naquela discussão inicial, eu estava
        acompanhado apenas de pessoas da minha idade. Todos nós nascemos ao menos 10 anos depois
        da morte de Freddie Mercury, e o conhecimento sobre Queen tinha sido adquirido após o fim da banda.
    </p>
    <p>
        Mas então se todos não viveram os "bons e velhos tempos", por quê considerar o saudosismo?
        Bom, a minha opinião é de que ele se espalha como um vírus. Alguém em algum momento disse
        que Queen era a melhor banda do mundo. Alguém ouviu isso e depois ouviu Bohemian Rhapsody, uma
        canção sem paralelos, e internalizou esse pensamento como uma verdade.
    </p>
    <p>
        Temos então que a crença na qualidade musical da banda tem bases muito fracas. 
        As pessoas que estavam discutindo comigo não saberiam citar fatos simples
        e relevantes, como por exemplo, quantos álbuns Queen lançou, ou o nome de seus integrantes.
        Ainda assim, eles defendiam o grupo de forma intensa e pouco aprofundada.
    </p>
    <p>
        O meu principal objetivo com essa discussão é ilustrar como nós seres humanos temos uma forte tendência
        a formar bandos e aceitar opiniões comuns. O saudosismo é uma das manifestações dessa tendência,
        mas existem muitas outras. Por isso, peço que o leitor tente se conscientizar de suas limitações
        e tenha a mente aberta ao ler o resto desta entrada.
    </p>
    <p>
        Meu outro objetivo é concluir que, se você não concorda comigo: 
        <a href="https://www.youtube.com/watch?v=dRYxq5Xm4KQ">"you are nitpicking and biased, I win, bye bye"</a>
    </p>
    <p class="fs-3 fw-semibold">Parte 1: Hits</p>
    <p>
        Quero que você tente pensar em quantas músicas de Queen você conhece. 
        Uma aposta segura é que a pessoa média conhece cerca de 12 canções da banda e essas
        são canções clássicas extremamente memoráveis. Nosso parceiro Freddie foi um gênio que conseguiu
        colocar 12 hits na cabeça de milhões e milhões de pessoas, um feito inegável.
    </p>
    <p>
        Agora pense em quantas músicas de Coldplay você conhece, provavelmente mais do que 12. É um argumento fraco
        já que eles estão mais próximos do nosso tempo (até pelo fato de ainda estarem em atividade), mas vamos
        analisar melhor os feitos desse projeto musical. Uma comparação justa é colocar hit por hit de Queen contra
        os de Coldplay, e vemos então que facilmente passam de 12.
    </p>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Queen</th>
                <th>Coldplay</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><strong>Bohemian Rhapsody</strong></td>
                <td><strong>Viva la Vida</strong></td>
            </tr>
            <tr>
                <td>2</td>
                <td><strong>Another One Bites the Dust</strong></td>
                <td><strong>The Scientist</strong></td>
            </tr>
            <tr>
                <td>3</td>
                <td><strong>Don't Stop Me Now</strong></td>
                <td><strong>Fix You</strong></td>
            </tr>
            <tr>
                <td>4</td>
                <td><strong>We Will Rock You</strong></td>
                <td><strong>Yellow</strong></td>
            </tr>
            <tr>
                <td>5</td>
                <td><strong>Under Pressure</strong> (with David Bowie)</td>
                <td><strong>Clocks</strong></td>
            </tr>
            <tr>
                <td>6</td>
                <td><strong>We Are the Champions</strong></td>
                <td><strong>Something Just Like This</strong> (with The Chainsmokers)</td>
            </tr>
            <tr>
                <td>7</td>
                <td><strong>Crazy Little Thing Called Love</strong></td>
                <td><strong>A Sky Full of Stars</strong></td>
            </tr>
            <tr>
                <td>8</td>
                <td><strong>Killer Queen</strong></td>
                <td><strong>Paradise</strong></td>
            </tr>
            <tr>
                <td>9</td>
                <td><strong>Somebody to Love</strong></td>
                <td><strong>Hymn for the Weekend</strong></td>
            </tr>
            <tr>
                <td>10</td>
                <td><strong>I Want to Break Free</strong></td>
                <td><strong>Adventure of a Lifetime</strong></td>
            </tr>
            <tr>
                <td>11</td>
                <td><strong>Radio Ga Ga</strong></td>
                <td><strong>Speed of Sound</strong></td>
            </tr>
            <tr>
                <td>12</td>
                <td><strong>Fat Bottomed Girls</strong></td>
                <td><strong>In My Place</strong></td>
            </tr>
            <tr>
                <td>13</td>
                <td><strong>The Show Must Go On</strong></td>
                <td><strong>Sparks</strong></td>
            </tr>
            <tr>
                <td>14</td>
                <td><strong>You're My Best Friend</strong></td>
                <td><strong>Magic</strong></td>
            </tr>
            <tr>
                <td>15</td>
                <td><strong>Love of My Life</strong></td>
                <td><strong>Trouble</strong></td>
            </tr>
            <tr>
                <td>16</td>
                <td><strong>I Want It All</strong></td>
                <td><strong>My Universe</strong> (with BTS)</td>
            </tr>
            <tr>
                <td>17</td>
                <td><strong>A Kind of Magic</strong></td>
                <td><strong>Every Teardrop Is a Waterfall</strong></td>
            </tr>
            <tr>
                <td>18</td>
                <td><strong>Seven Seas of Rhye</strong></td>
                <td><strong>Don't Panic</strong></td>
            </tr>
            <tr>
                <td>19</td>
                <td><strong>Tie Your Mother Down</strong></td>
                <td><strong>Shiver</strong></td>
            </tr>
            <tr>
                <td>20</td>
                <td><strong>Good Old-Fashioned Lover Boy</strong></td>
                <td><strong>Princess of China</strong> (featuring Rihanna)</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>
        A maioria de nós, que estamos vivendo o desenvolvimento da discografia de Coldplay,
        certamente reconhece mais canções do seu lado da tabela. Ainda assim, não podemos dizer se todas
        resistirão ao teste do tempo. Entretanto, no pior caso, é razoável dizer que ainda
        sobrariam hits memoráveis o suficientes para serem comparados aos de Queen.
    </p>
    <p class="fs-3 fw-semibold">Parte 2: Discografia</p>
    <p>
        Espero que a discussão acima tenha sido suficiente para igualar o jogo entre as duas bandas.
        No entanto, a discussão sobre hits é limitada e muito restrita ao gosto, que
        determina a afinidade que cada um tem em relação a uma canção. Uma abordagem melhor para a comparação
        é considerar a discografia como um todo.
    </p>
    <p>
        Até a presente data, a banda Coldplay lançou 10 álbuns,
        totalizando 113 canções. Em contraste, Queen lançou 15 álbuns de estúdio durante seu período de atividade,
        50% a mais que o grupo de Chris Martin. Já em quantidade de canções, foram 163 lançamentos, 44% a mais.
    </p>
    <p class="fs-3 fw-semibold">Parte 3: Performances</p>
    <p>
        Eeee-oo
    </p>
    <p class="fs-3 fw-semibold">Parte 4: Legado</p>
    <p>
        O que veio depois de cada artista? Quais artistas eles influenciaram? Quais movimentos musicais desenvolveram?
    </p>
    
    <a hx-get="pages/blog.html"
       hx-push-url="blog"
       hx-target="closest main"
       hx-swap="outerHTML transition:true show:window:top"
       hx-on:click="window.localStorage.setItem('secret', true);"
       class="link-body-emphasis link-underline-opacity-75 link-underline-opacity-25-hover fs-3 mb-3">
       Voltar
    </a>

</main>